* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: #555;
}

h1 {
    margin: .5rem;

}

form {

    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;

}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

input,
textarea,
select,
button {
    padding: .75rem;
    width: 300px;
}

button {
    color: #fff;
    background-color: navy;
    width: 300px;
    display: block;
    border-radius: 8px;
    margin: auto;

}

code {
    display: block;
    background-color: #000;
    color: #fff;

}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;

}