* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boarder-color: black;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;

}

h1 {
    padding: .5rem;
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--boarder-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--boarder-color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 130px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: sans-serif;

}

aside img {

    width: 200px;
    height: auto;
}

p {
    padding: 0;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--boarder-color);
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid var(--boarder-color);
    padding: 1rem;
    background-color: #eee;
    color: black;
}

.indent {
    padding-left: 2rem;
}